<template>
  <div>
    <h1>Hello {{ user }}!</h1>
    <slot></slot>
    <span>
      This is a custom url
      <button id="copy-to-clipboard-btn" @click="copy()">
        Copy
      </button>
    </span>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class WebComponent extends Vue {
  @Prop() private user!: string;

  copy() {
    navigator.clipboard.writeText(`https://duckduckgo.com/${this.user}`);
  }
}
</script>
